In [5]:
import numpy as np
import pandas as pd
array1=np.array([10,20,30])
array2=np.array([100,200,300])
series3=pd.Series(array1)
series4=pd.Series(array2)
print(series3)
print(series4)

0    10
1    20
2    30
dtype: int64
0    100
1    200
2    300
dtype: int64

In [9]:
#craetion of series from dictionary
import pandas as pd
dict1={'india':'delhi','uk':'london'}
print(dict1)
series5=pd.Series(dict1)
print(series5)
series5[1]

{'india': 'delhi', 'uk': 'london'}
india     delhi
uk       london
dtype: object

'london'

In [11]:
import pandas as pd
seriesCapCntry=pd.Series(["delhi","washington","london"],
index=['india','usa','uk'])                        
seriesCapCntry[1:3]

usa    washington
uk         london
dtype: object

In [11]:
#index
import pandas as pd
seriesCapCntry=pd.Series(["delhi","washington","london"],
index=['india','usa','uk'])                        
seriesCapCntry['india']                        
seriesCapCntry.index=[10,20,30]   
seriesCapCntry

10         delhi
20    washington
30        london
dtype: object

In [12]:
#index
import pandas as pd
seriesCapCntry=pd.Series(["delhi","washington","london"],
index=['india','usa','uk'])                        
seriesCapCntry['india']                        
seriesCapCntry.index=[10,20,30]   
seriesCapCntry[1:2]

20    washington
dtype: object

In [13]:
#index
import pandas as pd
seriesCapCntry=pd.Series(["delhi","washington","london"],
index=['india','usa','uk'])                        
seriesCapCntry['india']                        
seriesCapCntry.index=[10,20,30]   
seriesCapCntry[::-1]

30        london
20    washington
10         delhi
dtype: object

In [20]:
import pandas as pd
seriesA=pd.Series([1,2,3,4,5],
index=['a','b','c','d','e'])
seriesA

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [27]:
import pandas as pd
seriesb=pd.Series([10,20,-30,-40,50],
index=['f','g','a','b','j'])
seriesb

f    10
g    20
a   -30
b   -40
j    50
dtype: int64

In [28]:
seriesA+seriesb

a   -29.0
b   -38.0
c     NaN
d     NaN
e     NaN
f     NaN
g     NaN
j     NaN
dtype: float64

In [29]:
import pandas as pd
dFrameEmt=pd.DataFrame()
dFrameEmt

Empty DataFrame
Columns: []
Index: []

In [30]:
import pandas as pd
dFrameEmt=pd.DataFrame()
dFrameEmt

Empty DataFrame
Columns: []
Index: []

In [32]:
import numpy as np
array1=np.array([10,20,30])
array2=np.array([100,200,300])
dFrame1=pd.DataFrame(array1)
dFrame1

    0
0  10
1  20
2  30

In [1]:
seriesa=pd.Series([1,2,3,4,5],
index=['a','b','c','d','e'])
seriesb=pd.series([100,200,-100,-500],
index=['a','b','c']

SyntaxError: unexpected EOF while parsing (<ipython-input-1-05a5b17758d2>, line 4)

In [6]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

   hii this is maheswari
0               my world
1                  hello
2                    why
3                   why
4  movie:the dark knight
5   director:peter hills
6             rating:9.2

In [13]:
import pandas as pd
seriesCapCntry=pd.series(['newdelhi','washington','london','paris']
index=['india','usa','uk','france']) 
serie

SyntaxError: invalid syntax (<ipython-input-13-c06eef9f1910>, line 3)